boto3
git+git://github.com/databricks/incubator-airflow.git@1.8.1-db1#egg=apache-airflow[databricks,celery,postgres,hive,hdfs,jdbc,async,password,crypto,github_enterprise,datadog,statsd,s3]
mozlogging
retrying
newrelic
redis
hiredis
